.flores{
    padding-bottom: 120px;
}
.flores h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.flores ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}
.flores li{
    min-width: 280px;
}
.flores a{
    display: block;
}
.flores img{
    height: 450px;
    margin-bottom: 10px;
    border: 1px solid white;
    
}
.flores img:hover{
    border-color: var(--cor-p1);
}
.flores h3{
   margin-bottom: 5px;
}
.flores span{
    padding-bottom: 20px;
}
.flores a:hover h3 {
    color: var(--cor-p2);
}



@media (max-width: 800px) {
    .flores img:hover{
        border-color: white;
 } 
 }
 