.footer-bg{
    background-color: var(--cor-2);
}

.footer{
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 20px;
}
.footer h3, .footer-contato ul{
    margin-bottom: 32px;
}

.footer-contato li:nth-child(even):after{
    content: "";
    display: block;
    max-width: 360px;
    height: 2px;
    background: var(--cor-p3);
    margin-top: 16px;
}
.footer li{
    margin-bottom: 16px;
}
.footer-redes{
    display: flex;
    gap: 32px;
}
.footer a:hover{
    color: var(--cor-p2);
}
.footer-copy{
    grid-column: 1/-1; /* Expandi de ponta a ponta */
    margin-top: 40px;
    justify-self: center;
}
@media (max-width: 800px) {
    .footer h1{
        display: none;
    }
    .footer{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 600px) {
    .footer {
        grid-template-columns: 1fr;
    }}